.view {
  color: var(--prymary-color);
  &:hover {
    background-color: var(--prymary-color);
    color: var(--color-white);
  }
}

.trash {
  color: var(--color-red);
  &:hover {
    background-color: var(--color-red);
    color: var(--color-white);
  }
}
